@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/quicksand-v30-latin-500.woff2') format('woff2'), 
    url('../fonts/quicksand-v30-latin-500.woff') format('woff'); 
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot'); 
    src: local(''),
    url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), 
    url('../fonts/poppins-v20-latin-regular.woff') format('woff'), 
    url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), 
    url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); 
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v20-latin-500.eot'); 
    src: local(''),
    url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), 
    url('../fonts/poppins-v20-latin-500.woff') format('woff'), 
    url('../fonts/poppins-v20-latin-500.ttf') format('truetype'), 
    url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); 
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.eot'); 
    src: local(''),
    url('../fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/poppins-v20-latin-600.woff2') format('woff2'), 
    url('../fonts/poppins-v20-latin-600.woff') format('woff'), 
    url('../fonts/poppins-v20-latin-600.ttf') format('truetype'), 
    url('../fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); 
}

*{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto' 'Fredoka One' 'Hindo Mandurai' sans-serif;
    font-size: 16px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    max-width: 1276px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

/* Header */
.header {
    padding-bottom: 18px;
    background: rgb(255, 255, 255,0.6);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 40px 40px;
    margin-bottom: 20px;    
}

.header_wrapper {
    display: flex;
    align-items: center;
    max-width: 1276px;
    padding-top: 20px;
    
}

.header_logo_link {
    width: 121px; 
    height: 48px;
    margin-right: 39px;
}

.header_logo {
    width: 121px;
    height: 49px;
}

.form_item {
    list-style-type: none;
    display: flex;
    margin-right: 40px;
}

.form_item_input {
    background: #F3F3F3;
    border-radius: 8px 0px 0px 8px;
    width: 494px;
    height: 45px;
    border-color: white;
}

.form_button {
    width: 55px;
    height: 45px;
    background: #0064D2;
    border-radius: 0px 8px 8px 0px;
    border: white;
}

.form_button_img{
    width: 24px;
    height: 24px;
}

.header_list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 28px;
    margin: 0;
    padding: 0;
    
}

.header_item {
    display: flex;
    align-items: center;
    
}

.header_item_logo {
    margin-right: 5px;
}

.header_item_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2F294D;
    margin-right: 26px;
    width: 47px;
}


.header_item_text2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2F294D;
    width: 46px;
    margin-right: 28px;
}

.header_item_price {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #0064D2;
}

.header_tag_link {
    margin-right: 26px;
}

.header_tag_img {
    width: 67px;
    height: 40px;
}

.header_button {
    display: flex;
    align-items: center;
    width: 178px;
    height: 40px;
    background: #0064D2;
    border-radius: 8px;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 9px;
    border-color: #FFFFFF;
}

.header_button_img {
    width: 16px;
    height: 16px;
    margin-left: 14px;
    margin-right: 9px;
}

/* Caategories */
.category {
    border-bottom: 1px solid rgba(173, 173, 173, 0.17);
    margin-bottom: 47px;
}

.category_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    
}

.category_arrow {
    margin-right: 19px;
    width: 40px;
    height: 40px;
}

.category_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;  
    color: #2F294D;
}

.category_link {
    margin-right: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0064D2;
}


.category_link1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0064D2;  
}

/* Iphone */
.iphone_wrapper {
    display: flex;
    margin-bottom: 59px;
}

.iphone_left {
    width: 536px;
    margin-right: 37px;
}

.iphone_left_top_img{
    width: 536px;
    height: 463px;
}

.iphone_left_bottom {
    display: flex;
    align-items: center;
    
}

.iphone_left_arrow {
    margin-right: 14px;
}

.iphone_left_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin-right: 1px;
}

.iphone_left_bottom_img {
    margin-right: 16px;
}

.iphone_right_top {
    display: flex;
    align-items: center;
}

.iphone_right_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #2F294D;
    margin-right: 8px;
}

.iphone_right_header_link {
    text-decoration: none;
    padding: 5px 33px 5px 33px;
    background: rgb(0, 101, 209,0.1);
    border-radius: 11px;
    color: #0064D2;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.iphone_right_text { 
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F294D;
    opacity: 0.5;
    margin-bottom: 16px;
}

.iphone_right_star_list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    
}

.iphone_right_star_item {
    margin-right: 9px;
}

.iphone_right_star_img {
    width: 32px;
    height: 32px;
}

.iphone_right_star_number {
    margin-right: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2F294D;
}

.iphone_right_star_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;   
    color: #2F294D;
    opacity: 0.5;
}

.iphone_right_price_wrapper {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;    
    color: #2F294D;  
    width: 85px; 
}

.iphone_right_currency {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #2F294D;
    opacity: 0.7;
    width: 16px;
    height: 36px;
}

.iphone_right_tick_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.iphone_right_tick_item {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.iphone_right_tick_img {
    margin-right: 10px;
    width: 23px;
    height: 23px;
}

.iphone_right_tick_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F294D;
}

.iphone_right_costumers_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.iphone_right_costumers_list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: 10px;
}

.iphone_right_costumers_img {
    margin-right: 5px;
}

.iphone_right_customers_link {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0064D2;
}

.iphone_right_link1 {
    text-decoration: none;
    padding: 10px 72px 10px 72px;
    background: #0064D2;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;    
    color: #FFFFFF;
}

.iphone_right_link2 {
    text-decoration: none;
    padding: 10px 67px 10px 67px;
    background: rgba(0, 100, 210, 0.1);
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0064D2;
}

/* Links */
.links {
    background: rgb(0, 100, 210,0.05);
    margin-bottom: 40px;
    
}

.links_list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 28px;
    padding-bottom: 20px;
    
}

.links_item {
    margin-right: 43px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #1E1F4B;
    opacity: 0.5;
    
}

.links_item_active{
    color: #1E1F4B;
    opacity: 1;
}

.links_item_link {
    text-decoration: none;
}


/* Informations */

.information_wrapper {
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.information_block {
    flex-direction: row-reverse;
}

.information_img {
    margin-right: 73px;
    margin-bottom: 30px;
}

.information_list {
    margin-bottom: 43px;
    padding-left: 0;
}

.information_images {
    margin-left: 73px;
}


.information_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2F294D;
}

/* INFO */
.apple_titile{
    margin-bottom: 31px;
    
}
.apple_name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2F294D;
    margin-bottom: 5px;
    
}
.apple_img{
    margin-bottom: 12px;
    
}
.apple_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 70px;
    padding-left: 0;
    
}
.apple_item{
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 27px;
}
.apple_price_mark{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.apple_products{
    width: 48px;
    height: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    letter-spacing: 0.02em;
    color: #2F294D;
    opacity: 0.7;
    color: #2F294D;
    opacity: 0,5;
}

.apple_price{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.02em;    
    color: #2F294D;
}

/* Footer */
.footer {
    background: rgb(0, 100, 210,0.05);
    padding: 33px;
}

.footer_top {
    display: flex;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    border-top: 2px solid rgba(0, 0, 0, 0.05);
    padding-top: 40px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}

.footer_top_img {
    margin-right: 240px;
}

.footer_top_right {
    display: flex;
}

.footer_top_header {
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #253D4E;
}

.top_right_list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-right: 240px;
    width: 121px;
    height: 125px;
}

.top_right_item {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #253D4E;
    margin-bottom: 15px;
}

.footer_top_header1 {
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #253D4E;
}

.top_right_list1 {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-right: 240px;
    width: 121px;
    height: 125px;
}

.top_right_item1 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #253D4E;
    margin-bottom: 15px;
}

.footer_top_header2 {
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #253D4E;
}

.top_right_list2 {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-right: 240px;
    width: 121px;
    height: 125px;
}

.top_right_item2 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #253D4E;
    margin-bottom: 15px;
}

.footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom_left_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #253D4E;
}

.bottom_right_img {
    width: 224px;
    height: 32px;
}